@media (max-width: 1722px) {
    @keyframes about__hash {
        0% {
            left: -50px;
        }
    
        100% {
            left: 58px;
        }
    }

    .about__fly-tag--hash {
        top: 523px;
        left: 58px;
    }

    .price__fly-tag--braces {
        font-size: 32px;
        left: 156px;
        top: 20px;
    }

    .price__fly-tag--braces2 {
        display: none;
    }
}

@media (max-width: 1560px) {
    @keyframes about__braces {
        0% {
            left: -50px;
        }
    
        100% {
            left: 78px;
        }
    }

    @keyframes about__div {
        0% {
            top: -50px;
        }
    
        100% {
            top: 43px;
        }
    }

    @keyframes about__div2 {
        0% {
            left: -50px;
        }
    
        100% {
            left: 870px;
        }
    }

    @keyframes about__closed {
        0% {
            top: -50px;
        }
    
        100% {
            top: 473px;
        }
    }

    .about__fly-tag--braces {
        left: 78px;
        top: 49px;
    }

    .about__fly-tag--div{
        left: 886px;
        top: 43px;
    }

    .about__fly-tag--div2 {
        left: 870px;
        z-index: 5;
    }

    .about__fly-tag--closed {
        left: 376px;
        top: 473px;
    }

    .about__fly-tag--closed2 {
        display: block;
    }

    .about__info {
        padding-top: 177px;
    }

    .about__title {
        font-size: 54px;
        margin-bottom: 45px;
    }

    .about__description {
        font-size: 25px;
        margin-top: 22px;
    }

    .btn-fill {
        width: 320px;
        height: 68px;
    }

    .about__more {
        padding-top: 24px;
    }

    .about__my-photo {
        margin-right: -95px;
        margin-left: -22px;
        margin-top: -5px;
    }

    .about__ellipse {
        right: 0;
        top: 138px;
    }

    .services__price {
        padding-top: 24px;
    }

    .price__fly-tag--div {
        font-size: 25px;
        right: 453px;
        bottom: -51px;
    }

    .price__fly-tag--closed {
        right: 95px;
        top: 285px;
    }

    .price__fly-tag--hash {
        display: none;
    }
}

@media (max-width: 1200px) {
    .services__container {
        display: flex;
    }

    .services__info {
        padding-bottom: 195px;
    }

    .services__list {
        padding-top: 78px;
        padding-bottom: 25px;
        flex-wrap: wrap;
        justify-content: center;
    }

    .services__link {
        padding-top: 94px;
        width: 388px;
        margin: 11px 20px 67px 20px;
    }

    .services__link--tools {
        background-position: 147px 0;
    }

    .services__link--responsive {
        background-position: 146px 0;
    }

    .services__link--programming,
    .services__link--coding {
        background-position: 154px 0;
    }

    .price__container {
        margin-top: 101px;
    }

    .price__title {
        font-size: 43px;
        letter-spacing: 1px;
        padding-left: 0;
    }

    .price__description {
        padding-top: 33px;
        padding-right: 184px;
        padding-left: 8px;
    }

    .price__fly-tag--braces {
        font-size: 32px;
        left: 156px;
        top: 20px;
    }

    .footer__contacts {
        padding-top: 3px;
        padding-left: 28px;
    }

    .footer__btn {
        margin-right: 0;
    }
}

@media (max-width: 1024px) {
    .container {
        padding: 0 40px;
    }

    .header__burger {
        display: block;
    }

    .header__menu-list {
        display: none;
    }

    .works__swiper-slide img {
        display: block;
        min-width: 100%;
    }

    .works__photo {
        padding-bottom: 22px;
    }

    .works__description {
        padding-right: 9px;
        font-size: 25px;
    }

    .works__swiper-wrapper {
        padding-bottom: 132px;
    }

    .swiper-button-prev, .swiper-button-next {
        display: none;
    }

    .swiper-pagination {
        display: block;
    }

    .works__order {
        margin-top: 86px;
    }

    .price__title {
        padding-top: 81px;
    }

    footer {
        padding-top: 100px;
    }

    .form__container {
        width: 600px;
        height: 570px;
    }

    .form__title {
        font-size: 30px;
        padding: 20px 0;
    }

    .form__input span {
        font-size: 25px;
    }

    .form__input input {
        width: 500px;
        height: 40px;
    }

    .form__check {
        padding-left: 0;
    }
}

@media (max-width: 992px) {
    .about__container {
        flex-direction: column-reverse;
        align-items: center;
    }

    .about__info {
        text-align: center;
    }

    .btn-fill {
        max-width: 280px;
        height: 55px;
        width: 100%;
        font-size: 16px;
    }

    .about__more,
    .services__price {
        padding-top: 18px;
    }

    .services__link {
        width: 304px;
    }

    .services__link--tools,
    .services__link--responsive {
        background-position: 108px 0;
    }

    .services__link--programming,
    .services__link--coding {
        background-position: 115px 0;
    }

    .works__photo {
        padding-bottom: 48px;
    }

    .footer__container {
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .footer__contacts {
        padding-right: 40px;
    }

    .footer__menu {
        padding-bottom: 30px;
    }
}

@media (max-width: 768px) {
    .container {
        padding: 0 20px;
    }

    .header__container {
        justify-content: center;
        align-items: unset;
    }

    .header {
        padding: 26px 0;
    }

    .bar1,
    .bar2, 
    .bar3 {
        width: 24px;
        height: 3px;
        margin: 4.5px 0;
    }

    .change .bar1 {
        transform: rotate(-45deg) translate(-3px, 6px);
    }

    .change .bar3 {
        transform: rotate(45deg) translate(-5px, -8px);
    }

    .phone {
        font-size: 18px;
    }

    .header__phone {
        margin-right: auto;
    }

    .phone-call {
        display: block;
    }

    .header__btn {
        display: none;
    }

    .about,
    .header {
        background-color: #fff;
    }

    .about__info {
        width: 100%;
        padding-top: 10px;
        text-align: center;
    }

    @keyframes about__braces {
        0% {
            top: -50px;
            left: -50px;
        }
    
        100% {
            top: 18px;
            left: 49px;
        }
    }

    @keyframes about__div {
        0% {
            left: -50px;
        }
    
        100% {
            left: 245px;
        }
    }

    @keyframes about__hash {
        0% {
            top: -50px;
        }
    
        100% {
            top: 122px;
        }
    }

    @keyframes about__closed {
        0% {
            left: -50px;
        }
    
        100% {
            left: 172px;
        }
    }

    .about__fly-tag--braces {
        left: 49px;
        top: 18px;
        font-size: 25px;
    }

    .about__fly-tag--div {
        left: 245px;
        top: 62px;
        font-size: 16px;
        transform: rotate(19deg);
    }

    .about__fly-tag--hash {
        left: 37px;
        top: 122px;
        font-size: 28px;
    }

    .about__fly-tag--div2 {
        display: none;
    }

    .about__fly-tag--closed {
        left: 172px;
        top: -2px;
        bottom: auto;
        font-size: 19px;
        transform: rotate(-30deg);
    }

    .about__fly-tag--closed2 {
        display: none;
    }

    .about__my-photo {
        margin-right: -84px;
        margin-left: 0;
        margin-top: 23px;
        max-width: 300px;
    }

    .about__ellipse {
        min-width: none;
        width: 100%;
        height: 296px;
        top: 92px;
    }

    .about__title {
        font-size: 30px;
        margin-bottom: 30px;
        white-space: initial;
    }

    .about__description {
        font-size: 16px;
        margin-top: 13px;
    }

    .title {
        font-size: 30px;
    }

    .services__info {
        padding: 43px 1px 95px 0;
    }

    .services__list {
        padding-top: 34px;
        padding-bottom: 8px;
    }

    .services__link {
        padding-top: 72px;
        font-size: 16px;
        background-size: 58px;
        margin: 11px 0 44px 0;
        width: 255px;
    }

    .services__link--tools,
    .services__link--programming {
        background-position: 99px 0;
    }

    .services__link--responsive,
    .services__link--coding {
        background-position: 99px 0;
    }

    .services__price {
        margin-left: 0;
    }

    .price__container {
        margin-top: 51px;
    }

    .price__title {
        padding-top: 45px;
        font-size: 26px;
        line-height: 1.45;
    }

    .price__description {
        padding-right: 0;
        padding-top: 38px;
        font-size: 16px;
        letter-spacing: -0.5px;
        line-height: 1.8;
    }

    .works__slider-container {
        padding-top: 41px;
    }

    .works__title {
        text-align: center;
    }

    .works__description {
        padding-right: 0;
        font-size: 18px;
    }

    .swiper-pagination-bullet {
        width: 10px;
        height: 10px;
        margin: 0 8px !important;
    }

    .works__swiper-wrapper {
        padding-bottom: 69px;
    }

    .works__order {
        margin-top: 36px;
    }

    .price {
        padding-bottom: 47px;
    }

    footer {
        padding-top: 0;
    }
    
    .footer__container {
        flex-direction: column;
        margin-top: 40px;
    }

    .footer__menu {
        padding-bottom: 0;
    }

    .footer__menu-item {
        font-size: 15px;
        padding-bottom: 16px;
    }

    .footer__contacts {
        padding-left: 0;
        padding-top: 26px;
    }

    .footer__phone,
    .email-color {
        padding-left: 0;
    }

    .footer__phone {
        padding-bottom: 4px;
    }

    .footer__phone-color {
        padding-right: 0;
        font-size: 14px;
        padding-bottom: 23px;
    }

    .email-color {
        font-size: 15px;
        padding-bottom: 15px;
    }

    .email {
        font-size: 18px;
        padding-bottom: 12px;
    }

    .footer__btn {
        width: 282px;
        height: 55px;
        margin-bottom: 51px;
    }

    .footer__border {
        margin-top: 46px;
        height: 50px;
        font-size: 13px;
    }

    .price__fly-tag--braces,
    .price__fly-tag--div,
    .price__fly-tag--closed {
        display: none;
    }

    .form__container {
        width: 300px;
        height: 540px;
    }

    .form__title {
        font-size: 19px;
    }

    .form__input span {
        font-size: 20px;
    }

    .form__input input {
        width: 240px;
    }

    .form__btn {
        margin-left: 0;
    }

    .form__check {
        font-size: 12px;
    }

    .alert {
        font-size: 20px;
        width: 300px;
        height: 216px;
    }

}










  