@font-face {
	font-family: "Roboto";
	src: url("fonts/Roboto-Light.woff2"),
	url("fonts/Roboto-Light.woff");
	font-weight: 300;
	font-display: swap;
	font-style: normal;
}

@font-face {
	font-family: "Roboto";
	src: url("fonts/Roboto-Regular.woff2"),
	url("fonts/Roboto-Regular.woff");
	font-weight: 400;
	font-display: swap;
	font-style: normal;
}

@font-face {
	font-family: "Roboto";
	src: url("fonts/Roboto-Bold.woff2"),
	url("fonts/Roboto-Bold.woff");
	font-weight: 600;
	font-display: swap;
	font-style: normal;
}

a {
	text-decoration: none;
	color: inherit;
}

body {
	background-color: #fbfbfb;
	font-family: "Roboto", sans-serif;
	min-width: 320px;
}

img {
	max-width: 100%;
	height: auto;
}

ul {
	list-style: none;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

.container {
	max-width: 1210px;
	margin: 0 auto;
	padding: 0 20px;
}

/*First slide*/

/*Header*/
.header {
	padding: 29px 0;
}

.header__container {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.header__menu-link {
	margin-right: 28px;
	font-size: 16px;
	font-weight: 400;
	color: #1f1f24;
}

.header__menu-item {
	display: inline-block;
}

.phone {
	margin-left: auto;
	color: #1f1f24;
	font-size: 25px;
	font-weight: 700;
}

.btn {
	width: 207px;
	height: 45px;
	line-height: 45px;
	text-align: center;
	color: #f53f4f;
	font-size: 16px;
	font-weight: 400;
}

.btn--stroke {
	border: 1px solid #f82370;
}

.header__btn {
	margin-left: 28px;
}

.btn-reset {
	background: transparent;
	cursor: pointer;
}

/*About*/
.fly-tag {
	position: absolute;
	background-image: linear-gradient(to top, #f26522 0%, #fa0891 99%, #fa0891 100%);
	color: transparent;
	font-weight: 700;
	display: inline-block;
	pointer-events: none;
	-webkit-background-clip: text;
}

.fly-tag--braces {
	font-size: 48px;
	transform: rotate(30deg);
	left: 130px;
	top: 30px;
}

.fly-tag--div {
	font-size: 30px;
	transform: rotate(-13deg);
	left: 788px;
	top: 61px;
}

.fly-tag--hash {
    font-size: 56px;
    transform: rotate(17deg);
    left: 247px;
    top: 259px;
}

.fly-tag--div2 {
    font-size: 37px;
    transform: rotate(21deg);
    left: 951px;
    top: auto;
    bottom: 185px;
}

.fly-tag--closed {
    font-size: 41px;
    transform: rotate(-22deg);
    left: 377px;
    top: auto;
    bottom: 52px;
}

.services {
	background-color: #fff;
}

.about__container {
	display: flex;
	justify-content: space-between;
}

.about {
	position: relative;
	overflow: hidden;
	padding-top: 30px;
}

.about__info {
	padding-top: 155px;
	position: relative;
	z-index: 1;
}

.about__my-photo {
	position: relative;
	z-index: 1;
	margin-right: -220px;
}

.about__ellipse {
	position: absolute;
	right: -107px;
	z-index: 0;
	top: 36px;
}

.about__title {
	color: #1f1f24;
	font-size: 80px;
	font-weight: 700;
	margin-bottom: 47px;
}

.about__description {
	display: block;
	font-size: 25px;
	font-weight: 400;
	color: #8993ad;
	margin-top: 14px;
}

.btn-fill {
	background-color: #ff4e2e;
	color: #fff;
	width: 270px;
	height: 60px;
	font-size: 18px;
	border: none;
}

/*Second slide*/
.services__container {
	background-color: #fff;
	text-align: center;
}

.services__info {
	padding-top: 86px;
}

.services__title {
	font-size: 54px;
	font-weight: 700;
	color: #262626;
}

.services__list {
	display: flex;
	padding-top: 83px;
	padding-bottom: 91px;
	color: #8993ad;
}

.services__link {
	padding-top: 99px;
	font-size: 21px;
	line-height: 1.4;
}

.services__link--tools {
	background: url(img/tools.png) 116px 0 no-repeat;
}

.services__link--responsive {
	background: url(img/responsive.png) 118px 0 no-repeat;
}

.services__link--programming {
	background: url(img/programming.png) 86px 0 no-repeat;
}

.services__link--coding {
	background: url(img/coding.png) 113px 0 no-repeat;
}

/*Price*/
.price {
	color: #fff;
	background: linear-gradient(to top right, #ff895e, #ff3095);
	height: 364px;
	width: 100%;
	left: 0;
	position: fixed;
}

.price__title {
	font-size: 45px;
	position: absolute;
	top: 21%;
	left: 25.5%;
	right: 18%;
}

.price__description {
	font-size: 18px;
	line-height: 1.6;
	position: absolute;
	top: 62%;
	right: 35%;
	left: 26%;
}




